<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mantenimiento_demostracion</title>
    <link rel="shortcut icon" href="./images/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="./css/normalize.css">
    <link rel="stylesheet" href="/CSS/mante_demostra.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">



</head>

<body>

    <header class="hero">
        <nav class="nav container">
            <div class="nav__logo">
                <h2 class="nav__title">VITALTECH.</h2>
            </div>

            <ul class="nav__link nav__link--menu">
                <li class="nav__items">
                    <a href="/HTML/main.html" class="nav__links">Home</a>
                </li>
                <li class="nav__items">
                    <a href="/HTML/login.html" class="nav__links">Login</a>
                </li>
                <li class="nav__items">
                    <a href="footer" class="nav__links">Contacto</a>
                </li>
             

                <img src="./images/close.svg" class="nav__close">
            </ul>

            <div class="nav__menu">
                <img src="./images/menu.svg" class="nav__img">
            </div>
        </nav>

        <section class="hero__container container">
            <h1 class="hero__title">Realiza un mantenimiento confiable y garantizado .</h1>
            <p class="hero__paragraph">Nuestro servicio especializado en mantenimiento biomédico ofrece una solución integral que va más allá de simplemente reparar equipos. de gran </p>
            <a href="#" class="cta">Agendar demo</a>
        </section>
    </header>

    <main>
        <section class="container about">
            <h2 class="subtitle">¿Qué beneficios tendras con nosotros?</h2>
            <p class="about__paragraph">Al contratar los servicios de VITALTECH,  los clientes obtienen confianza en la fiabilidad de sus equipos médicos y un servicio proactivo que garantiza la eficiencia y la seguridad del cuidado médico.</p>

            <div class="about__main">
                <article class="about__icons1">
                    <img src="/IMG/centraliza_la_informacion2.png" class="about__icon">
                    <h3 class="about__title">Programación Preventiva </h3>
                    <p class="about__paragrah">Desarrollamos planes de mantenimiento preventivo adaptados a las necesidades específicas de cada cliente</p>
                </article>

                <article class="about__icons2">
                    <img src="/IMG/img13.jpg" class="about__icon">
                    <h3 class="about__title">Servicio Técnico Especializado</h3>
                    <p class="about__paragrah">Contamos con un equipo de técnicos altamente capacitados y certificados en el mantenimiento de equipos biomédicos</p>
                </article>

                <article class="about__icons3">
                    <img src="/IMG/solicitudes.webp" class="about__icon">
                    <h3 class="about__title">Cumplimiento Normativo</h3>
                    <p class="about__paragrah">Nos comprometemos a cumplir con los estándares de calidad más rigurosos y las regulaciones de seguridad en el cuidado de la salud?</p>
                </article>
            </div>
        </section>

      

        <section class="questions container">
            <h2 class="subtitle">Preguntas frecuentes</h2>

            <section class="questions__container">
                <article class="questions__padding">
                    <div class="questions__answer">
                        <h3 class="questions__title">¿Cuál es su enfoque en cuanto a la prevención de problemas?
                           
                        </h3>

                        <p class="questions__show">Nos enfocamos en el mantenimiento preventivo, realizando inspecciones regulares y ajustes para evitar fallas costosas y maximizar la vida útil de los equipos.</p>
                    </div>
                </article>

                <article class="questions__padding">
                    <div class="questions__answer">
                        <h3 class="questions__title">¿Qué experiencia tienen?  </h3>
                           
                      

                        <p class="questions__show">Tenemos una sólida experiencia en mantenimiento biomédico, respaldada por años de servicio y un equipo altamente capacitado.</p>
                    </div>
                </article>

                <article class="questions__padding">
                    <div class="questions__answer">
                        <h3 class="questions__title">¿Qué tipos de equipos biomédicos cubre su servicio de mantenimiento?
                            
                          
                        </h3>

                        <p class="questions__show">Cubrimos una amplia gama de equipos médicos, desde diagnóstico por imágenes hasta dispositivos de soporte vital.</p>
                    </div>
                </article>
            </section>

    </main>

    <footer id="footer">

        <div class="container">
            <div class="footer-content">
                <div class="footer-content-about-us">
                    <h4>Acerca de Nosotros</h4>

                </div>
                <div class="footer-columns">
                    <div class="footer-column1">
                        <!-- Contenido de la primera columna -->
                        <div class="social-media">
                            <h4>Síguenos en Redes Sociales</h4>
                            <ul class="social-icons">
                                <li>
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fab fa-facebook-square"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fab fa-instagram"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fab fa-youtube"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="footer-column2">
                        <!-- Contenido de la segunda columna -->
                        <h4>Recibe Noticias en tu Email</h4>
                        <form action="" class="news-form">
                            <input type="text" class="news-input" placeholder="Ingresa tu correo electrónico">
                            <button class="news-btn" type="submit">
                                <i class="fas fa-envelope"></i>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="./js/slider.js"></script>
    <script src="./js/questions.js"></script>
    <script src="./js/menu.js"></script>
</body>

</html>