<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Login Form Design One | Fazt</title>
  <link rel="stylesheet" href="/CSS/olvido_contra.css">
  <link rel="icon" type="image/x-icon" href="/img_login/logo.jpg">
  <script src="https://kit.fontawesome.com/a30cdf8764.js" crossorigin="anonymous"></script>
</head>
<body>

<div class="login-box">
  <h1>Restablecer Contraseña</h1>
  <form action="/HTML/main.html">

    <label for="Ingrese correo o Username">Correo o Username</label>
    <div class="password-input-container">
      <input type="email"  placeholder="Ingrese Correo o Username">
      
    </div>
    <label for="newPassword">Nueva contraseña</label>
    <div class="password-input-container">
      <input type="password"  placeholder="Ingrese nueva contraseña">
      
    </div>
    
    <br>
    <!-- Confirmación de contraseña -->
    <label for="confirmPassword">Confirmación contraseña</label>
    <div class="password-input-container">
      <input type="password" placeholder="Ingrese nuevamente contraseña">
    </div>
    <br> <br>
    <a href="/HTML/main.html"><div class="input-box">
      <input type="submit" class="submit" value="Guardar contraseña">
      <br>
  </div></a>
  </form>
</div>

</body>
</html>
