<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>VitalTech</title>
    <link rel="shortcut icon" href="/img/Logo_VitalTech2.png" type="image/x-icon">
    <link rel="stylesheet" href="/CSS/sopor_reporte_ser.css">
    <link rel="icon" type="image/x-icon" href="/IMG/logotipo.png" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800&display=swap" rel="stylesheet"> 
</head>

<body>
    <header>
        <nav>
            <!--  -->
            <a href="/HTML/main.html">Home</a>
            <a href="/HTML/menu.html">Atras</a>
            <a href="mantenimiento.html">Gestion de Mantenimiento</a>
            <a href="soporte.html">Soporte Tecnico</a>
            <a href="#footer">Acerca de Nosotros</a>
        </nav>
        <!-- <section class="textos-header"> -->
            <a href="/HTML/main.html">
                <h1 >Vitaltech</h1>
            </a>
            <!-- <h2>VitalTech tegnology</h2> -->
        </section>
        <section class="imagen_portada">
            <!-- <img class="img-logo" src="/IMG/logotipo.png" alt=""> -->
        </section>
        
    </header>
    <main>
        <div class="image-hoja">
            <img src="/IMG/M3-1 Orden de Trabajo.jpg" alt="">
        </div>

    </main>
        
    <footer id="footer">
        <div class="footer-wave"></div>
        <div class="container">
            <div class="footer-content">
                <div class="footer-content-about-us">
                    <h4>Acerca de Nosotros</h4>
                    <div class="circle">
                        <i class="fas fa-circle"></i>
                    </div>
                      <p class="letrero">
                    VITALTECH es un referente en el gestion de mantenimiento preventivo  y correctivo de equipos biomédicos. Nos enfocamos en garantizar la eficiencia y seguridad de estos dispositivos. Somos su socio en la excelencia del mantenimiento biomédico.
                </p>
                </div>
                <div class="footer-columns">
                    <div class="footer-column1">
                        <!-- Contenido de la primera columna -->
                        <div class="social-media">
                            <h4>Síguenos en Redes Sociales</h4>
                            <ul class="social-icons">
                                <li>
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fab fa-facebook-square"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fab fa-instagram"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fab fa-youtube"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="footer-column2">
                        <!-- Contenido de la segunda columna -->
                        <h4>Recibe Noticias en tu Email</h4>
                        <form action="" class="news-form">
                            <input type="text" class="news-input" placeholder="Ingresa tu correo electrónico">
                            <button class="news-btn" type="submit">
                                <i class="fas fa-envelope"></i>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>