@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,300;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

main .sobre-nosotros {
    padding: 30px 0 60px 0;
}

.contenedor-sobre-nosotros {
    display: flex;
    justify-content: space-evenly;
}

.imagen-about-us {
    width: 48%;
}

.sobre-nosotros .contenido-textos {
    width: 48%;
}

.contenido-textos h3 {
    margin-bottom: 15px;
}

.contenido-textos h3 span {
    background: #ded8e4;
    color: #fff;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    padding: 2px;
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);
    margin-right: 5px;
}

.contenido-textos p {
    padding: 0 0 30px 15px;
    font-weight: 3;
    text-align: justify;
    font-size: 3rem;
}

.hover-galeria h1 {
    color: rgb(187, 196, 243) !important;
    font-size: 1.2rem !important;
    font-size: 4%;
}

.mt-5 {
    padding: 5%;
    margin-top: 2rem;
    
}

.imagen-port {
    position: relative;
   
}

.imagen-port img {
    width: 100%; 
    height: 200px; 
    object-fit: cover; 
    border-radius: 34px; 
}

.hover-galeria {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    opacity: 0;
    transition: opacity 0.3s ease;
    border-radius: 34px;
}

.hover-galeria img{
    width: 20%;
    height: auto;
    padding: 3%;
}

.imagen-port:hover .hover-galeria {
    opacity: 1;
}

.tit-img1 {
    color: rgb(0, 0, 0);
    text-decoration: none;
    text-align: center;
    font-size: small;
}


/* FOOTER */
footer {
    padding: 1rem;
    background-color: #272626;
    color: #fdfbfb;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-columns {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.letrero {
    font-size: 15px;
    text-align: justify;
    margin: 0 10rem;
}

.footer-column1,
.footer-column2 {
    flex: 1;
    text-align: center;
    margin: 3rem;
}

.footer-column2 h4 {
    margin-right: 40%;
}

.footer-content h4 {
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 100;
    letter-spacing: 3px;
    margin-bottom: 3rem;
}

.footer-content-about-us {
    font-size: 1.6rem;
    padding: 2%;
    color: #fdfbfb;
    text-align: center;
}

.social-icons {
    list-style: none;
    display: flex;
    justify-content: center;
}

.social-icons i {
    font-size: 1.3rem;
    padding: .3rem 1rem;
    color: #fff;
}

.news-form {
    display: flex;
    align-items: center;
}

.news-input {
    width: 100%;
    max-width: 15rem;
    padding: 1.2rem;
    border-radius: 4rem;
    margin-top: -2%;
}

.news-btn {
    background: transparent;
    border: none;
    color: #ffffff;
    cursor: pointer;
    font-size: 1.4rem;
    padding: 2px .6rem;
    margin-left: -1px;
}

.social-icons i.fa-twitter:hover,
.social-icons i.fa-twitter:focus {
    color: var(--twitter);
}

.social-icons i.fa-youtube:hover,
.social-icons i.fa-youtube:focus {
    color: var(--youtube);
}

.social-icons i.fa-linkedin-in:hover,
.social-icons i.fa-linkedin-in:focus {
    color: var(--linkedin);
}

.social-icons i:hover,
.social-icons i:focus {
    color: var(--instagram);
}

.social-icons i.fa-facebook-square:hover,
.social-icons i.fa-facebook-square:focus {
    color: var(--facebook);
}

:root {
    --facebook: blue;
    --twitter: #55acee;
    --youtube: red;
    --instagram: #e4405f;
}
