@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,300;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
}

h1{
    margin-top: 6rem;
    text-align: center;
    font-size:xx-large;
    
}

/* validacion de campos */
.was-validated .form-control:invalid {
    border-color: #dc3545; /* Rojo para campos inválidos */
}

.was-validated .form-control:valid {
    border-color: #28a745; /* Verde para campos válidos */
}

.was-validated .invalid-feedback {
    display: block; /* Mostrar los mensajes de retroalimentación en campos inválidos */
}



/* Header */
.navbar {
    background: #7169dd;
    background: -webkit-linear-gradient(to right, hsla(236, 63%, 75%, 0.459), hsla(239, 65%, 36%, 0.664)), url(../IMG/fondo2.1.jpg);
    background: linear-gradient(to right, hsla(234, 32%, 69%, 0.459), hsla(226, 53%, 48%, 0.664)), url(../IMG/fondo2.1.jpg);
    background-size: cover;
    background-attachment: fixed;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}
nav {
    text-align: right;
    padding: 30px 50px 0 0;
transition: background-color 0.3s ease, opacity 0.3s ease;
}

.navbar-scrolled {
    background-color: rgba(255, 255, 255, 0.8); /* Ajusta el color y la opacidad según sea necesario */
    opacity: 0.8; /* Ajusta la opacidad */
}

.navbar .nav-link,
.navbar .navbar-brand,
/* .navbar .dropdown-menu .dropdown-item, */
.navbar .btn {
  color: white !important;
}

/* body */

/* Asegúrate de que el formulario use el 100% del ancho disponible */
.form-row {
    display: flex;
    flex-wrap: wrap;
    padding: 2%;
    margin-top: 3rem;
}
.form-row1{
    display: flex;
    flex-wrap: wrap;
    padding: 1%;
}

.col-md-6 {
    flex: 1;
    margin-right: 15px;
    margin-bottom: 15px;
}

.col-md-6 {
    max-width: 100%;
}

.mb-3 {
    margin-bottom: 1rem;
}

.form-group{
    margin-block-end:  4%;
}

/* segundo formulario */

/* CSS para distribuir el formulario en tres columnas */
@media (min-width: 768px) {
    .custom-three-columns .form-group {
        display: flex;
        flex-wrap: wrap;
    }

    .custom-three-columns .form-group > div {
        flex: 1 0 30%;
        margin-right: 1%;
    }

    .custom-three-columns .form-group > div:nth-child(3n) {
        margin-right: 0;
    }
}

@media (max-width: 767px) {
    .custom-three-columns .form-group > div {
        flex: 1 0 100%;
        margin-right: 0;
    }
}

.mb-3{
    padding: 4%;
}

.btn_enviar{
    padding: 3%;
}