@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,300;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
}

/* Estilo para el contenedor del carrusel */
.carousel-item {
    text-align: center; /* Centra el contenido del carrusel */
}

/* Estilo para las imágenes del carrusel */
.carousel-item img {
    max-width: 35%; /* Ajusta el tamaño máximo de la imagen al 50% del ancho del contenedor */
    height: auto; /* Mantiene la relación de aspecto */
    margin: 0 auto; /* Centra la imagen horizontalmente */
    margin-top: 6%;
    
}
h4{
    margin-block-end: 5%;
}
/* Estilo para los iconos de los controles del carrusel */
.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(1); /* Cambia el color de los iconos a negro */
}





body {
    font-family: 'Open Sans', sans-serif;
}

.contenedor {
    padding: 60px 0;
    width: auto;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
    background: white;
}

.contenedor .titulo{
    color: #7169dd;
    font-weight: bold;
}



/* Header */
.navbar {
    background: #7169dd;
    background: -webkit-linear-gradient(to right, hsla(236, 63%, 75%, 0.459), hsla(239, 65%, 36%, 0.664)), url(../IMG/fondo2.1.jpg);
    background: linear-gradient(to right, hsla(234, 32%, 69%, 0.459), hsla(226, 53%, 48%, 0.664)), url(../IMG/fondo2.1.jpg);
    background-size: cover;
    background-attachment: fixed;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    transition: background-color 0.3s ease, opacity 0.3s ease;
}

.navbar-scrolled {
    background-color: rgba(255, 255, 255, 0.8); /* Ajusta el color y la opacidad según sea necesario */
    opacity: 0.8; /* Ajusta la opacidad */
}

.navbar .nav-link,
.navbar .navbar-brand,
/* .navbar .dropdown-menu .dropdown-item, */
.navbar .btn {
  color: white !important;

}

a {
    text-decoration: none;
}

.titulo{
    text-align: center;
    padding: 3rem;
}

header h1 {
    color: #f2f2f2;
    margin-left: 5%;
    margin-top: -2%;
    text-decoration: none;
}

nav {
    text-align: right;
    padding: 30px 50px 0 0;
}

nav > a {
    color: #fff;
    font-weight: 300;
    text-decoration: none;
    margin-right: 10px;
}

nav > a:hover {
    text-decoration: underline;
}

/* Estilo general para el menú desplegable */


/* Opcional: Ajusta el padding y margen de los elementos del menú */
.navbar .dropdown-menu .dropdown-item {
    padding: 0.4rem 1.25rem; /* Ajusta el padding de los elementos del menú */
    font-size: 1rem; /* Ajusta el tamaño de la fuente de los elementos del menú */
}

/* Opcional: Estilo para el separador en el menú desplegable */
.navbar .dropdown-menu .dropdown-divider {
    margin: 0.3rem 0; /* Ajusta el margen superior e inferior del separador */
    margin-left: 3rem;


}

.dropdown-menu {
    background-color: #fff; 
    border: 1px solid rgba(0, 0, 0, 0.125); 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
    padding: -4rem; /* Ajusta el padding alrededor de los elementos del menú */
    max-width: 14rem; /* Ajusta el ancho mínimo del menú desplegable */
    margin-left: -4rem;
  
}


.dropdown-item {
    color: #333; 
    padding: 8px 16px; 
    text-decoration: none;
    display: block; 
}


.dropdown-item:hover {
    background-color: #f8f9fa; 
    color: #007bff; 
}
.dropdown-divider {
    border-top: 1px solid rgba(0, 0, 0, 0.125); 
}


main .sobre-nosotros {
    padding: 30px 0 60px 0;
}

header .textos-header {
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.textos-header h1 {
    font-size: 35px;
    text-align: left;
    color: #882b2b;
}

.textos-header h2 {
    font-size: 30px;
    font-weight: 300;
    color: #fff;
}

.imagen_portada {
    padding-right: 34vw;
    height: 10%;
    width: 10%;
}

.dropdown-menu {
    min-width: 200px; /* Ancho mínimo del menú desplegable */
}

/* About us */


.container1 {
    display: flex;
    align-items: center;
    padding: 20px;
}

.imagen {
    width: 570px; /* Ajusta el tamaño de la imagen según sea necesario */
    margin: 4rem;    
    height: auto;
    margin-right: 8rem; /* Espacio entre la imagen y el texto */
    border-radius: 13%;
    margin-top: 10rem;
}

.texto {
    max-width: 600px; /* Ajusta el ancho máximo del texto según sea necesario */
    margin-right: 5%;
   line-height: 2rem;
}

.texto h1 {
    margin: 0;
    font-size: 29px;
    color: #7169dd;
    margin-block-end: 8%;
    font-weight: bold;
}

.texto p {
    margin: 10px 0 0;
    font-size: 16px;
}

main .sobre-nosotros {
    padding: 30px 0 60px 0;
}

.contenedor-sobre-nosotros {
    display: flex;
    justify-content: space-evenly;
}

.imagen-about-us {
    width: 48%;
}

.sobre-nosotros .contenido-textos {
    width: 48%;
}

.contenido-textos h3 {
    margin-bottom: 15px;
}

.contenido-textos h3 span {
    background: #4d0686;
    color: #fff;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    padding: 2px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    margin-right: 5px;
}

.contenido-textos p {
    padding: 0px 0px 30px 15px;
    font-weight: 300;
    text-align: justify;
}

/* Galeria */

.portafolio {
    background: #f2f2f2;
}

.galeria-port {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.imagen-port {
    width: 24%;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
}

.imagen-port > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.hover-galeria {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transform: scale(0);
    background: hsla(273, 91%, 27%, 0.7);
    transition: transform .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hover-galeria img {
    width: 50px;
}

.hover-galeria p {
    color: #fff;
}

.imagen-port:hover .hover-galeria {
    transform: scale(1);
}

/* Clients */

.cards {
    display: flex;
    justify-content: space-evenly;
}

.cards .card {
    background: #4d0686;
    display: flex;
    width: 46%;
    height: 200px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.6);
}

.cards .card img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 3px solid #fff;
    border-radius: 50%;
    display: block;
}

.cards .card > .contenido-texto-card {
    width: 60%;
    color: #fff;
}

.cards .card > .contenido-texto-card p {
    font-weight: 300;
    padding-top: 5px;
}

/*  Our team */

.about-services {
    background: #ffffff;
    padding-bottom: 30px;
}
.about-services .contendor{
    background-color: white;
}
.servicio-cont {
    display: flex;
    flex-wrap: wrap; /* Permite que los ítems se muevan a una nueva línea si no caben en una sola fila */
    justify-content: space-between; /* Espacia los ítems de manera uniforme */
    gap: 20px; /* Ajusta el espaciado entre los ítems */
}
.servicio-ind {
    display: flex; /* Utiliza flexbox para el contenedor interno */
    flex-direction: column; /* Organiza los elementos en una columna */
    align-items: center; /* Alinea los elementos horizontalmente al centro */
    justify-content: center; /* Alinea los elementos verticalmente al centro */
    flex: 1; /* Hace que los ítems se expandan para llenar el espacio disponible */
    min-width: 200px; /* Establece un ancho mínimo para cada ítem */
    max-width: 310px; /* Establece un ancho máximo para cada ítem */
    box-sizing: border-box; /* Incluye el padding y border en el cálculo del ancho total */
    padding: 10px; /* Agrega padding interno para espaciado adicional */
    text-align: center; /* Centra el texto y otros elementos dentro del ítem */
    border-radius: 8px; /* Redondea las esquinas del borde */
    background-color: #f9f9f9; /* Agrega un color de fondo claro */
}
.servicio-ind img {
    width: 100%; /* Asegura que la imagen ocupe todo el ancho del ítem */
    height: auto; /* Mantiene la relación de aspecto de la imagen */
    margin-bottom: 10px; /* Espacio entre la imagen y el texto */
}

.servicio-ind h3 {
    margin: 10px 0; /* Espacio alrededor del encabezado */
}
.servicio-ind p {
    font-size: 0.9em; /* Ajusta el tamaño del texto de la descripción */
    color: #333; /* Color del texto de la descripción */
}
/* Galeria */

.imagen-port {
    width: 95%;
}

/* Clients */

.cards .card {
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cards .card img {
    width: 90px;
    height: 90px;
}

/* Footer */
footer {
    background: linear-gradient(45deg, #0062E6, #33AEFF);
    color: white;
    padding: 20px 0;
}

footer p {
    margin: 0;
    font-size: 1rem;
}

footer .social-icons a {
    color: white;
    font-size: 1.5rem;
    transition: color 0.3s;
}

footer .social-icons a:hover,
footer .social-icons a:focus {
    color: #ddd;
}




footer .social-icons a:hover {
    color: #ddd;
}

footer .footer-links a {
    color: white;
    font-size: 0.9rem;
    transition: color 0.3s;
}

footer .footer-links a:hover {
    color: #ddd;
}

.news-input {
    width: 100%;
    max-width: 15rem;
    padding: 1.2rem;
    border-radius: 4rem;
    object-position: left;
    margin-top: -2%;
}

.news-btn {
    background: transparent;
    border: none;
    color: #ffffff;
    cursor: pointer;
    font-size: 1.4rem;
    padding: 2px .6rem;
    margin-left: -1px;
}

.social-icons i.fa-x-twitter:hover,
.social-icons i.fa-x-twitter:focus {
    color: var(--twitter);
}

.social-icons i.fa-youtube:hover,
.social-icons i.fa-youtube:focus {
    color: var(--youtube);
}

.social-icons i.fa-linkedin-in:hover,
.social-icons i.fa-linkedin-in:focus {
    color: var(--linkedin);
}

.social-icons i:hover,
.social-icons i:focus {
    color: var(--instagram);
}

.social-icons i.fa-facebook-square:hover,
.social-icons i.fa-facebook-square:focus {
    color: var(--facebook);
}

:root {
    --facebook: blue;
    --twitter: #55acee;
    --youtube: red;
    --instagram: #e4405f;
}
