@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,300;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
 
}

.contenedor {
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

.navbar {
    background: #7169dd;
    background: -webkit-linear-gradient(to right, hsla(236, 63%, 75%, 0.459), hsla(239, 65%, 36%, 0.664)), url(../IMG/fondo2.1.jpg);
    background: linear-gradient(to right, hsla(234, 32%, 69%, 0.459), hsla(226, 53%, 48%, 0.664)), url(../IMG/fondo2.1.jpg);
    background-size: cover;
    background-attachment: fixed;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    transition: background-color 0.3s ease, opacity 0.3s ease;
}

.navbar-scrolled {
    background-color: rgba(255, 255, 255, 0.8); /* Ajusta el color y la opacidad según sea necesario */
    opacity: 0.8; /* Ajusta la opacidad */
}

.navbar .nav-link,
.navbar .navbar-brand,
/* .navbar .dropdown-menu .dropdown-item, */
.navbar .btn {
  color: white !important;
}

a {
    text-decoration: none;
}

header h1 {
    color: #f2f2f2;
    margin-left: 5%;
    margin-top: -2%;
    text-decoration: none;
}

nav {
    text-align: right;
    padding: 30px 50px 0 0;
}
.textos-header h2 {
    font-size: 30px;
    font-weight: 300;
    color: #fff;
}

.imagen-portada {
    padding-right: 34vw;
    height: 10%;
    width: 10%;
}

/* Estilo general para el menú desplegable */
.dropdown-menu {
    background-color: #fff; 
    border: 1px solid rgba(0, 0, 0, 0.125); 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
}


.dropdown-item {
    color: #333; 
    padding: 8px 16px; 
    text-decoration: none;
    display: block; 
}


.dropdown-item:hover {
    background-color: #f8f9fa; 
    color: #007bff; 
}


.dropdown-divider {
    border-top: 1px solid rgba(0, 0, 0, 0.125); 
}


.row {
    padding: 5rem;
    padding-inline: 13rem;
}

.row h1{
    padding: 4rem;
    text-align: center;
}



/* FOOTER */
footer {
    padding: 1rem;
    background-color: #272626;
    color: #fdfbfb;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-columns {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.letrero {
    font-size: 15px;
    text-align: justify;
    margin: 0 10rem;
}

.footer-column1,
.footer-column2 {
    flex: 1;
    text-align: center;
    margin: 3rem;
}

.footer-column2 h4 {
    margin-right: 40%;
}

.footer-content h4 {
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 100;
    letter-spacing: 3px;
    margin-bottom: 3rem;
}

.footer-content-about-us {
    font-size: 1.6rem;
    padding: 2%;
    color: #fdfbfb;
    text-align: center;
}

.social-icons {
    list-style: none;
    display: flex;
    justify-content: center;
}

.social-icons i {
    font-size: 1.3rem;
    padding: .3rem 1rem;
    color: #fff;
}

.news-form {
    display: flex;
    align-items: center;
}

.news-input {
    width: 100%;
    max-width: 15rem;
    padding: 1.2rem;
    border-radius: 4rem;
    margin-top: -2%;
}

.news-btn {
    background: transparent;
    border: none;
    color: #ffffff;
    cursor: pointer;
    font-size: 1.4rem;
    padding: 2px .6rem;
    margin-left: -1px;
}

.social-icons i.fa-twitter:hover,
.social-icons i.fa-twitter:focus {
    color: var(--twitter);
}

.social-icons i.fa-youtube:hover,
.social-icons i.fa-youtube:focus {
    color: var(--youtube);
}

.social-icons i.fa-linkedin-in:hover,
.social-icons i.fa-linkedin-in:focus {
    color: var(--linkedin);
}

.social-icons i:hover,
.social-icons i:focus {
    color: var(--instagram);
}

.social-icons i.fa-facebook-square:hover,
.social-icons i.fa-facebook-square:focus {
    color: var(--facebook);
}

:root {
    --facebook: blue;
    --twitter: #55acee;
    --youtube: red;
    --instagram: #e4405f;
}
